*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.main{
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
}

.main .page{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.main .page1 .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(32, 31, 31);
}

.main .page1 .navbar .logo a{
    color: #fcf8f8;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.25s;
}

.main .page1 .navbar .logo a:hover{
    color: rgb(163, 93, 8);
}

.main .page1 .navbar .logo a:active{
    color: #814901;
}

.main .page1 .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.main .page1 .navbar ul li{
    list-style: none;
}

.main .page1 .navbar ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.25s;
}

.main .page1 .navbar ul li a:hover{
    color: rgb(163, 93, 8);
}

.main .page1 .navbar ul li a:active{
    color: #814901;
}


.main .page .location{
    position: relative;
    height: 100px;
    width: inherit;
}

.main .page .search{
    margin: 25px;
    background-color: rgb(0, 0, 0);
    color: bisque;
    padding: 9px 0px 9px 13px;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-color: rgb(139, 109, 24);
    border-width: 1px 1px 1px 1px;
}

.main .page .page2{
    margin: auto;
    display: flex;
}


  .list .btnpr{
    width: 200px;
    margin-left: 40px;
    margin-top: 30px;
    cursor: pointer;
    color: rgb(163, 93, 8);
    padding: 10px;
    background-color: rgb(19, 18, 18);
    border: box-shadow#976018;    
    border-radius: 10px;
    transition: opacity 0.25s;
}

.list .btnpr:hover{
    opacity: 0.7;
}

.list .btnpr:active{
    opacity: 0.4;
}
